<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >
    Success Student Management system
  </title >
</head >
<body style="margin-top: 90px;">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="card bg-gradient-light text-center">
  <h1>Student Details</h1>
</div>
<div class="row">
  <div class="col-9"></div>
  <div class="col-3">
    <a href="/student">
      <button class="btn shadow mt-3" id="listb"><i class="fas fa-list"></i>&nbsp;&nbsp;Student list</button>
    </a>
  </div>
</div>
<!--Student detail-->
<form>
<div class="row" data-th-fragment="studentDetailsFragment" >
  <div class="col-6"  >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${id}" class="control-label" >ID :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="id" class="form-control" data-th-text="${studentDetail.id}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${firstName}" class=" control-label" >First name :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="firstName" class="form-control" data-th-text="${studentDetail.firstName}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${gender}" class=" control-label" >Gender :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="gender" class="form-control" data-th-text="${studentDetail.gender}" >
      </div >
    </div >

    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${nic}" class=" control-label" >NIC :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="nic" class="form-control" data-th-text="${studentDetail.nic}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${address}" class=" control-label" >Address :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="address" class="form-control" data-th-text="${studentDetail.address}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${address}" class="control-label" >Email :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="email" class="form-control" data-th-text="${studentDetail.email}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${school}" class=" control-label" >School :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="school" class="form-control" data-th-text="${studentDetail.school.name}" >
      </div >
    </div >

    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${grade}" class=" control-label" >Grade :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="grade" class="form-control" data-th-text="${studentDetail.grade}" >
      </div >
    </div >

    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${medium}" class=" control-label" >Medium :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="medium" class="form-control" data-th-text="${studentDetail.medium}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${home}" class=" control-label" >Fixed number :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="home" class="form-control" data-th-text="${studentDetail.home}" >
      </div >
    </div >
  </div >
  <div class="col-6"  >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${regNo}" class=" control-label" >Registration Number :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="regNo" class="form-control" data-th-text="${studentDetail.regNo}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${lastName}" class="control-label" >Last name :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="lastName" class="form-control" data-th-text="${studentDetail.lastName}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${dateOfBirth}" class=" control-label" >Date of Birth :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="dateOfBirth" class="form-control" data-th-text="${studentDetail.dateOfBirth}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${city}" class=" control-label" >City :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="city" class="form-control" data-th-text="${studentDetail.city}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${mobile}" class=" control-label" >Mobile number :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="mobile" class="form-control" data-th-text="${studentDetail.mobile}" >
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${guardian}" class=" control-label" >Guardian :</label ></div>
      <div class="col-md-6" >
        <p type="text" id="guardian" class="form-control" data-th-text="${studentDetail.guardian}" >
      </div >
    </div >
  </div >
<!--  <div class="row container-fluid mt-3" >-->
<!--    <div class="col text-center" >-->
<!--      <a href="/student" >-->
<!--        <button type="button" class="btn btn-danger " >Back</button >-->
<!--      </a >-->
<!--    </div >-->
<!--  </div >-->



</div >
  <div class="form-group row ">
    <div class="col-md-5"></div><div class="col-sm-1"></div>
    <div class="col-md-4 mb-2">
      <a href="/batch" style="text-decoration-line: none"><button type="button"  id="btn" class="btn btn-danger mt-3">Back</button></a>
    </div>

  </div>
</form>
<!-- Student Batch -->
<div class="row" >
  <div class="container-fluid" data-th-each="batchStudent, index : ${studentDetail.batchStudents} " >
    <div class="form-group" >
      <!-- Payment Details -->
      <div class="col" >
        <div class="row" >
          <div class="col text-center" >
            <p class="text-info text-primary bg-dark mt-5" >[[${batchStudent.batch.name}]] Payment Details</p >
          </div >
        </div >
        <div class="row" >
          <div class="container" >
            <table class="table table-striped table-inverse " >
              <thead class="thead-inverse" >
              <tr >
                <th >Index</th >
                <th >Code</th >
                <th >Month Year</th >
                <th >Amount</th >
                <th >Created Time</th >
                <th >Created By</th >
                <th >Modify</th >
              </tr >
              </thead >
              <tbody >
              <tr data-th-each="payment, index : ${batchStudent.payments}" >
                <td data-th-text="${index.count}" ></td >
                <td data-th-text="${payment.code}" ></td >
                <td data-th-text="${payment.month+' - '+payment.year}" ></td >
                <td data-th-text="${payment.amount}" ></td >
                <td data-th-text="${#temporals.format(payment.createdAt, 'dd-MM-yyyy HH:mm')}" ></td >
                <td data-th-text="${payment.createdBy}" ></td >
                <td >
                  <a data-th-href="${'/payment/view/'+ payment.id}" >
                    <button class="btn btn-info" >View</button >
                  </a >
                </td >
              </tr >
              </tbody >
            </table >
          </div >
        </div >
      </div >
    </div >
    <div class="form-group " >
      <!-- batchStudentExamResults Details -->
      <div class="col" >
        <div class="row" >
          <div class="col text-center" >
            <p class="text-info text-center bg-dark " >[[${batchStudent.batch.name}]] Exam Details</p >
          </div >
        </div >
        <div class="row" >
          <div class="container" >
            <table class="table table-striped table-inverse " >
              <thead class="thead-inverse" >
              <tr >
                <th >Index</th >
                <th >Batch Name</th >
                <th >Batch Exam Code</th >
                <th >Exam Status</th >
                <th >Exam Result Code</th >
                <th >Exam Date Time</th >
                <th >Attendance Status</th >
                <th >Mark</th >
                <th >Result Grade</th >
              </tr >
              </thead >
              <tbody >
              <tr data-th-each="batchStudentExamResult, index : ${batchStudent.batchStudentExamResults}" >
                <td data-th-text="${index.count}" ></td >
                <td data-th-text="${batchStudentExamResult.batchStudent.batch.name}" ></td >
                <td data-th-text="${batchStudentExamResult.batchExam.code}" ></td >
                <td >
                  <span data-th-if="${#strings.equals(batchStudentExamResult.batchExam.examStatus, 'RESULTED')} " >
                      Result Entered</span>
                  <span data-th-if="${#strings.equals(batchStudentExamResult.batchExam.examStatus, 'PENDING')} " >
                      Not Conducted</span>
                  <span data-th-if="${#strings.equals(batchStudentExamResult.batchExam.examStatus, 'DETAIL' )}" >
                     Successfully Completed
                  </span>
                </td >
                <td data-th-text="${batchStudentExamResult.code}" ></td >
                <td data-th-text="${'Start At '+#temporals.format(batchStudentExamResult.batchExam.startAt, 'dd-MM-yyyy HH:mm')+ ' End At '+#temporals.format(batchStudentExamResult.batchExam.endAt, 'dd-MM-yyyy HH:mm')}" ></td >
                <td data-th-text="${batchStudentExamResult.attendanceStatus.attendanceStatus}" ></td >
                <td data-th-text="${batchStudentExamResult.mark}" ></td >
                <td data-th-text="${batchStudentExamResult.resultGrade.resultGrade}" ></td >
              </tr >
              </tbody >
            </table >
          </div >
        </div >
      </div >
    </div >
    <div class="form-group " >
      <!-- timeTableStudentAttendances Details -->
      <div class="col" >
        <div class="row" >
          <div class="col text-center" >
            <p class="text-info text-center bg-dark" >[[${batchStudent.batch.name}]] Attendance Details</p >
          </div >
        </div >
        <div class="row" >
          <div class="container" >
            <table class="table table-striped table-inverse " >
              <thead class="thead-inverse" >
              <tr >
                <th >Index</th >
                <th >Time Table Code </th >
                <th >Attendance Code</th >
                <th > Date Time</th >
                <th >Attendance Status</th >
              </tr >
              </thead >
              <tbody >
              <tr data-th-each="timeTableStudentAttendance, index : ${batchStudent.timeTableStudentAttendances}" >
                <td data-th-text="${index.count}" ></td >
                <td data-th-text="${timeTableStudentAttendance.timeTable.code}" ></td >
                <td data-th-text="${timeTableStudentAttendance.code}" ></td >
                <td data-th-text="${'Start At '+#temporals.format(timeTableStudentAttendance.timeTable.startAt, 'dd-MM-yyyy HH:mm')+ ' End At '+#temporals.format(timeTableStudentAttendance.timeTable.endAt, 'dd-MM-yyyy HH:mm')}" ></td >
                <td data-th-text="${batchStudentExamResult.attendanceStatus.attendanceStatus}" ></td >
              </tr >
              </tbody >
            </table >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</body >
</html >
