<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Student Management system</title >
</head >
<body style="margin-top: 90px;">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="card bg-gradient-light text-center">
  <h1>New Subject</h1>
</div>
<div class="row">
  <div class="col-9"></div>
  <div class="col-3">
    <a href="/subject">
      <button class="btn shadow mt-3" id="listb"><i class="fas fa-list"></i>&nbsp;&nbsp;Subject list</button>
    </a>
  </div>
</div>
<div class="container-fluid" >
  <form action="/subject/save" data-th-object="${subject}" method="post" >
    <div class="form-group row" data-th-if="${addStatus==false}" >
      <div class="col-md-1"></div><div class="col-md-2">
      <label class=" control-label" data-th-for="${'id'}" >ID :</label ></div>
      <div class="col-md-6" >
        <input type="text" data-th-field="*{id}" id="id" placeholder="Index" class="form-control" readonly >
      </div >
    </div >
    <!--subjectCode-->
    <div class="form-group row" data-th-if="${addStatus==false}" >
      <div class="col-md-1"></div><div class="col-md-2">
      <label class=" control-label" data-th-for="${code}" >Subject code :</label ></div>
      <div class="col-md-6" >
        <input type="text" id="code" placeholder="Subject Code" class="form-control" data-th-field="*{code}" readonly >
      </div >
    </div >
    <input type="text" data-th-field="*{liveDead}" hidden >
    <!--subjectName-->
    <div class="form-group row" >
      <div class="col-md-1"></div><div class="col-md-2">
      <label class=" control-label" data-th-for="${name}" >Subject Name :</label ></div>
      <div class="col-md-6" >
        <input type="text" id="name" class="form-control" data-th-field="*{name}" placeholder="Subject name" required >
      </div >
    </div >
    <div class="form-group row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <a href="/subject" style="text-decoration-line: none"><button type="button"  id="btn" class="btn btn-danger mt-3">Back</button></a>
        <button type="submit" class="btn btn-primary mt-3 ml-2">Save</button>
        <button type="reset" class="btn btn-warning mt-3 ml-2">Clear</button>
      </div>
    </div>
    <div class="form-row" >
      <label data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '" >Errors: </label >
      <ul >
        <li data-th-each="err : ${#fields.errors('*')}" data-th-text="${err}" class="bg-danger text-white" ></li >
      </ul >
    </div >
  </form >
</div >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</body >
</html >
