<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Success Student Management </title >
</head >
<body style="margin-top: 90px;">
<link data-th-href="@{/css/multi-select.css}" media="all" rel="stylesheet" type="text/css" />
<link data-th-href="@{/css/studentAddCss.css}" media="all" rel="stylesheet" type="text/css" />


<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<<div class="card bg-gradient-light text-center">
  <h1> Batch Students</h1>
</div>
<div class="row">
  <div class="col-9"></div>
  <div class="col-3">
    <a href="/student">
      <button class="btn shadow mt-3" id="listb"> New Student </button>
    </a>
  </div>
</div>
<div class="row">
<div class="col-md-6">
<!--  <div class="container-fluid" >-->
    <div data-th-replace="~{batch/batch-detail :: batchDetailsFragment}" ></div >
<!--  </div >-->
</div>
<div class="col-md-6">
<!--  <div class="container" >-->
    <div data-th-replace="~{teacher/teacher-detail :: teacherDetail}" ></div >
<!--  </div >-->
</div>
</div>
<div class="container-fluid" >
  <div data-th-replace="~{student/student :: studentsFragment}" ></div >
</div >

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
