

<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management System</title>
</head>
<body style="margin-top: 70px;">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card bg-gradient-light text-center">
    <h1>Hall List</h1>
</div>
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <a href="/hall/add">
            <button class="btn shadow mt-3" id="listb"><i class="fas fa-list"></i>&nbsp;&nbsp;New Hall</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="container-fluid ">
        <table class="table table-striped table-inverse text-center " id="myTable">
            <thead class="thead-inverse">
            <tr>
                <!--                <th>Index</th>-->
                <th>Number</th>
                <th>Condition</th>
                <th>Seating Count</th>
                <th>Location</th>
                <th>Modify</th>

            </tr>
            </thead>
            <tbody>
            <tr data-th-each="hall, index : ${halls}">
                <!--                <td data-th-text="${hall.id}"></td>-->
                <td data-th-text="${hall.number}"></td>
                <td data-th-text="${hall.hallCondition.hallCondition}"></td>
                <td data-th-text="${hall.seatCount}"></td>
                <td data-th-text="${hall.HallLocation}"></td>
                <td>
                    <a data-th-href="${'/hall/view/'+ hall.id}">
                        <button class="btn btn-success" style="border-color:  rgba(71,123,11,0.99)">View</button>
                    </a>
                    <a data-th-href="${'/hall/edit/'+ hall.id}">
                        <button class="btn btn-info ml-2" style="border-color: rgba(9, 118, 193, 0.99)">Edit</button>
                    </a>
                    <a data-th-href="${'/hall/delete/'+ hall.id}">
                        <button class="btn btn-danger ml-2" style="border-color:  rgba(160,16,14,0.99)">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
