<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management System</title>
</head>
<body style="margin-top: 70px;">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card bg-gradient-light text-center">
    <h1>New Teacher</h1>
</div>
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <a href="/teacher">
            <button class="btn shadow mt-3" id="listb"><i class="fas fa-list"></i>&nbsp;&nbsp;Teacher list</button>
        </a>
    </div>
</div>

<div class="container-fluid">
    <form action="/teacher/save" data-th-object="${teacher}" method="post">
        <!--index-->
        <div class="row">
        <div class="form-group col-md-6 col-sm-6 text-left flex-column" >
        <div class="form-group row text-right" data-th-if="${addStatus== false}">
            <div class="col-md-3">
                <label class="control-label" data-th-for="${id}">Index :</label></div>
            <div class="col-md-8">
                <input type="text" readonly data-th-field="*{id}" id="id" placeholder="Index" class="form-control" autofocus>
                <input type="text" data-th-field="*{liveDead}" hidden>
            </div>
        </div>
        <!--registrationId-->
        <div class="form-group row text-right" data-th-if="${addStatus== false}">
            <div class="col-md-3">
                <label class="control-label" data-th-for="${registrationId}">Registration ID :</label></div>
            <div class="col-md-8">
                <input type="text" id="registrationId" class="form-control" data-th-field="*{registrationId}">
            </div>
        </div>


                <!--firstName-->
                <div class="form-group row text-right">
                    <div class="col-md-3">
                    <label class="control-label" data-th-for="${firstName}">First name :</label></div>
                    <div class="col-md-8">
                        <input type="text" id="firstName" class="form-control" data-th-field="*{firstName}">
                    </div>
                </div>


                <!--lastName-->
                <div class="form-group row text-right">
                    <div class="col-md-3">
                        <label class="control-label" data-th-for="${lastName}">Last name :</label></div>
                    <div class="col-md-8">
                        <input type="text" id="lastName" class="form-control" data-th-field="*{lastName}">
                    </div>
                </div>



                <!--Gender-->
                <div class="form-group row text-right" >
                    <div class="col-md-3">
                        <label class="control-label"data-th-for="${gender}" >Gender :</label ></div>

                    <div class="col-md-8 text-left" >
                        <div class="custom-control custom-checkbox custom-control-inline "
                             data-th-each="genders,index : ${gender}">
                            <input class="custom-control-input gender" required
                                   data-th-name="${'gender'}"
                                   data-th-value="${genders}"
                                   data-th-id="${index.index}+${genders}" type="radio"
                                   data-th-checked="${genders==gender}"/>
                            <label class="custom-control-label"
                                   data-th-for="${index.index}+${genders}"
                                   data-th-text="${genders.gender}"> radio
                            </label>
                        </div>
                    </div >
                </div >


                <!--mobileNumber-->
                <div class="form-group row text-right">
                    <div class="col-md-3">
                        <label class=" control-label" data-th-for="${mobile}">Mobile number :</label></div>
                    <div class="col-md-8">
                        <input type="tel" id="mobile" class="form-control" data-th-field="*{mobile}">
                    </div>
                </div>

                <!--nic-->
                <div class="form-group row text-right">
                    <div class="col-md-3">
                        <label class=" control-label" data-th-for="${nic}">NIC :</label></div>
                    <div class="col-md-8">
                        <input type="text" id="nic" class="form-control" data-th-field="*{nic}">
                    </div>
                </div>
        </div>
<div class="form-group col-md-6 col-sm-6 text-left flex-column">
                <!--dateOfBirth-->
                <div class="form-group row text-right">
                    <div class="col-md-3">
                        <label class=" control-label" data-th-for="${dateOfBirth}">Date of birth :</label></div>
                    <div class="col-md-8">
                        <input type="date" id="dateOfBirth" class="form-control" data-th-field="*{dateOfBirth}">
                    </div>
                </div>

                <!--address-->
                <div class="form-group row text-right ">
                    <div class="col-md-3">
                        <label class="control-label" data-th-for="${address}">Address :</label></div>
                    <div class="col-md-8">
                        <textarea id="address" class="form-control" data-th-field="*{address}"></textarea>
                    </div>
                </div>


                <!--email-->
                <div class="form-group row text-right">
                    <div class="col-md-3">
                        <label class=" control-label" data-th-for="${email}">Email :</label></div>
                    <div class="col-md-8">
                        <input type="text" id="email" class="form-control" data-th-field="*{email}">
                    </div>
                </div>


                <!--subject-->
                <div class="form-group row text-right">
                    <div class="col-md-3">
                        <label class="control-label" data-th-for="${subject}">Subject :</label></div>
                    <div class="col-md-8">
                        <select id="subject" data-th-field="*{subject}" class="form-control" tabindex="7" required >
                            <option value="" >Please select</option >
                            <option data-th-each="subject : ${subjects}"
                                    data-th-text="${subject.name}"
                                    data-th-value="${subject.id}" ></option >
                        </select >   </div>
                </div>


                <!--tutionFee-->
                <div class="form-group row text-right">
                    <div class="col-md-3">
                        <label class=" control-label" data-th-for="${fee}">Tution Fee :</label></div>
                    <div class="col-md-8">
                        <input type="number" id="fee" class="form-control" data-th-field="*{fee}">
                    </div>
                </div>


</div>

        </div>
        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/employee" style="text-decoration-line: none"><button type="button"  id="btn" class="btn btn-danger mt-3">Back</button></a>
                <button type="submit" class="btn btn-primary mt-3 ml-2">&nbsp;<span id="submit" data-th-text="${addStatus==true?'Save': 'Update'}" ></span ></button>
                <button type="reset" class="btn btn-warning mt-3 ml-2">Clear</button>
            </div>
        </div>
    </form>
</div>
<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
