<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >
    Success Student Management system
  </title >
</head >
<body style="margin-top: 90px;"  >
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="card bg-gradient-light text-center">
  <h1>Teacher details</h1>
</div>
<div class="row">
  <div class="col-9"></div>
  <div class="col-3">
    <a href="/teacher/add">
      <button class="btn shadow mt-3" id="listb" data-sec-authorize="hasAnyAuthority('ROLE_MANAGER')">&nbsp;&nbsp;New teacher</button>
    </a>
  </div>
</div>

<!--teacherDetail detail-->
<div class="  container-fluid" data-th-fragment="teacherDetail" >
 <form>
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${id}" class=" control-label" >Index :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="id" class="form-control" data-th-text="${teacherDetail.id}" ></p>
        </div >
      </div >
     <div class="form-group row" >
         <div class="col-md-1"></div><div class="col-md-2">
         <label data-th-for="${RegistrationId}" class=" control-label" >Registration ID :</label ></div>
         <div class="col-md-6" >
             <p type="text" id="RegistrationId" class="form-control" data-th-text="${teacherDetail.RegistrationId}" ></p>
         </div >
     </div >
     <div class="form-group row" >
         <div class="col-md-1"></div><div class="col-md-2">
         <label data-th-for="${title}" class="control-label" >Title :</label ></div>
         <div class="col-md-6" >
             <p type="text" id="title" class="form-control" data-th-text="${teacherDetail.title}" ></p>
         </div >
     </div>
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${firstName}" class="control-label" >First name :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="firstName" class="form-control" data-th-text="${teacherDetail.firstName}" ></p>
        </div >
      </div >
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${nic}" class=" control-label" >NIC :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="nic" class="form-control" data-th-text="${teacherDetail.nic}" ></p>
        </div >
      </div >
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${gender}" class=" control-label" >Gender :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="gender" class="form-control" data-th-text="${teacherDetail.gender}" ></p>
        </div >
      </div >
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${email}" class=" control-label" >Email :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="email" class="form-control" data-th-text="${teacherDetail.email}" ></p>
        </div >
      </div >
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${subject}" class=" control-label" >subject :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="subject" class="form-control" data-th-text="${teacherDetail.subject.name}" ></p>
        </div >
      </div >



      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">

        <label data-th-for="${lastName}" class=" control-label" >Last name :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="lastName" class="form-control" data-th-text="${teacherDetail.lastName}" ></p>
        </div >
      </div >
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${dateOfBirth}" class=" control-label" >Date of Birth :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="dateOfBirth" class="form-control" data-th-text="${teacherDetail.dateOfBirth}" ></p>
        </div >
      </div >
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${address}" class=" control-label" >Address :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="address" class="form-control" data-th-text="${teacherDetail.address}" ></p>
        </div >
      </div >
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${mobile}" class=" control-label" >Mobile number :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="mobile" class="form-control" data-th-text="${teacherDetail.mobile}" ></p>
        </div >
      </div >
      <div class="form-group row" >
        <div class="col-md-1"></div><div class="col-md-2">
        <label data-th-for="${fee}" class=" control-label" >Tution Fee :</label ></div>
        <div class="col-md-6" >
          <p type="text" id="fee" class="form-control" data-th-text="${teacherDetail.fee}" ></p>
        </div >
      </div >
   <div class="form-group row">
     <div class="col-md-5"></div>
     <div class="col-md-4">
       <a href="/teacher" style="text-decoration-line: none"><button type="button"  id="btn" class="btn btn-danger mt-3">Back</button></a>
     </div>

   </div>

 </form>
</div>



<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
