<!DOCTYPE html>
<html lang="en" >
<head   data-th-replace="~{fragments/header :: headerFragment}">

    <meta charset="UTF-8">


</head>
<body id="loginbody">
<div class="container-fluid">
<div class="form-area text-white "  >
    <div class="row">
        <div class="col-md-4 mt-3 ml-4">
            <img data-th-src="@{'/img/newlogo.jpg'}"  id="loginlogo">
        </div>
            <div class="col-md-7 mt-5">
                <p id="paralog"><b>Wasity Institute<br>Student Management System</b></p>


            </div>

   </div>
    <p class="text-center  mt-5" style="font-size: xx-large;color: #281e04;border-width: thick"><b>LOGIN</b></p>
    <hr style="color: black;">
    <div class="container-fluid">
    <form  id="loginform" data-th-action="${'/login'}" method="post" class="text-white">
      <label id="user"> <i class="fas fa-user" style="font-size: larger;color: black"></i>
           <input  type="text" placeholder="Username" data-th-name="${'username'}" id="inuse" required>
      </label>

        <label id="pw">   <i class="fas fa-key" style="font-size: larger;color: black"></i>
            <input type="password" placeholder="Password" data-th-name="${'password'}"  id="inpw" class="mt-5 " required>
        </label>
<div style="text-align: center">
            <button type="submit" class="btn btn-primary mt-4" id="loginb">Login</button>
</div ><br>
        <div class="text-center"><a href="/passwordChange" style="text-decoration-line: none;color:white" >Do you want to change password?</a></div>
        <div class="container-fluid "  data-th-if="${param.error}">
            <p class="bg-white text-capitalize text-danger text-lg-center">Invalid username or password. </p>
        </div>
        <div class="container-fluid ">
            <p id="errorMessage"  data-th-text="${err}" class="bg-white text-capitalize text-danger text-lg-center"></p>
        </div>
    </form> </div>
</div>
</div>

<!--footer include-->
<!--<div   data-th-replace="~{fragments/footer :: footerFragment}"></div>-->
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>
