<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body  style="margin-top: 90px;">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="card bg-gradient-light text-center">
  <h1> Batch Details</h1>
</div>
<div class="row">
  <div class="col-9"></div>
  <div class="col-3">
    <a href="/batch/add">
      <button class="btn shadow mt-3" id="listb" data-sec-authorize="hasAnyAuthority('ROLE_MANAGER' )"> New Batch </button>
    </a>
  </div>
</div>

<div class=" container-fluid" >
  <div data-th-fragment="batchDetailsFragment" >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${code}" class="control-label" >Class reference</label ></div>
      <div class="col-md-5" >
        <p type="text" id="code" class="form-control" data-th-text="${batchDetail.code}" ></p>
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${year}" class=" control-label" >Academic Year</label ></div>
      <div class="col-md-5" >
        <p type="text" id="year" class="form-control" data-th-text="${batchDetail.year}" ></p>
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${grade}" class=" control-label" >Grade</label ></div>
      <div class="col-md-5" >
        <p type="text" id="grade" class="form-control" data-th-text="${batchDetail.grade}" ></p>
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${teacherName}" class=" control-label" >Teacher</label ></div>
      <div class="col-md-5" >
        <p type="text" id="teacherName" class="form-control" data-th-text="${batchDetail.teacher.firstName}" >
        </p>
      </div >
    </div >
    <div class="form-group row" >
      <div class="col-md-2"></div><div class="col-md-2">
      <label data-th-for="${'name'}" class=" control-label" >Batch Name :</label ></div>
      <div class="col-md-5" >
        <p type="text" id="name" class="form-control " data-th-text="${batchDetail.name}" ></p>
      </div >
    </div >


    <div class="form-group row">
      <div class="col-md-5"></div><div class="col-sm-1"></div>
      <div class="col-md-4">
        <a href="/batch" style="text-decoration-line: none"><button type="button" data-sec-authorize="hasAnyAuthority('ROLE_RECEPTIONIST','ROLE_MANAGER' )"  id="btn" class="btn btn-danger mt-3">Back</button></a>
      </div>
<div class="col-md-5"></div>
      <div class="col-md-4">
        <a href="/batch/teacher" style="text-decoration-line: none"><button type="button" data-sec-authorize="hasAnyAuthority('ROLE_TEACHER')"  id="btn" class="btn btn-danger mt-3">Back</button></a>
      </div>

    </div>

  </div>
</div>
<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
