<!DOCTYPE html>
<html lang="en" >
<head   data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="margin-top: 90px;">
<nav   data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card bg-gradient-light text-center">
    <h1><span data-th-text="${addStatus==true?'New Role ':'Update Role'}"></span></h1>
</div>
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <a href="/role">
            <button class="btn shadow mt-3" id="listb"><i class="fas fa-list"></i>&nbsp;&nbsp; Role List </button>
        </a>
    </div>
</div>

<div class="container-fluid  formBorder">
    <div class="col-sm-12 flex-column ">
        <form id="form" class="form-horizontal" method="POST" data-th-action="${addStatus==true?'/role/add':'/role/update'}"
              data-th-object="${role}">
            <div class="form-batch col-md-12 col-sm-12 text-center flex-column">
                <div class="col-sm-6 col-md-6 offset-2">
                    <div id="idHide"   data-th-if="${addStatus==false}" class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="id">ID :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" data-th-field="*{id}"  id="id" type="text" readonly/>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="roleName">Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="roleName" data-th-field="*{roleName}" class="form-control" type="text" required/>
                            <span id="roleNameError" data-th-errors="*{roleName}"   data-th-if="${#fields.hasErrors('roleName')}" class="error">Error Role Name</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-batch col-md-12 col-sm-12 text-center flex-column">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa fa-save" style="font-size: 20px"></i>&nbsp; &nbsp;<span
                        id="submit"   data-th-text="${addStatus==true?'Save': 'Update'}">                        </span>
                </button>
            </div>
            <!--Error-->
            <div class="form-row">
                <label id="errorLabel"   data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '">Errors: </label>
                <ul>
                    <li data-th-each="err: ${#fields.errors('*')}" data-th-utext="${err}"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<!--footer include-->
<div   data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>
