<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management </title>
</head>
<body style="margin-top: 90px;">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card bg-gradient-light text-center">
    <h1>New School</h1>
</div>
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <a href="/subject">
            <button class="btn shadow mt-3" id="listb"><i class="fas fa-list"></i>&nbsp;&nbsp;Subject list</button>
        </a>
    </div>
</div>


<div class="container-fluid">
    <form action="/school/save" data-th-object="${school}" method="post">
        <div class="form-group row" data-th-if="${addStatus==false}">
            <div class="col-md-2"></div><div class="col-md-2">
            <label class=" control-label" data-th-for="${schoolId}">School ID</label></div>
            <div class="col-md-4">
                <input type="text" data-th-field="*{id}" id="schoolId" placeholder="School ID" class="form-control" autofocus readonly></div>
                <input type="text" data-th-field="*{liveDead}" hidden>
            </div>


        <div class="form-group row">
            <div class="col-md-2"></div><div class="col-md-2">
            <label data-th-for="${name}" class=" control-label">School Name:</label></div>
            <div class="col-md-4">
                <input type="text" data-th-field="*{name}" id="name" placeholder="School name" class="form-control" autofocus >
        </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/school" style="text-decoration-line: none"><button type="button"  id="btn" class="btn btn-danger mt-3">Back</button></a>
                <button type="submit" class="btn btn-primary mt-3 ml-2">Submit</button>
                <button type="reset" class="btn btn-warning mt-3 ml-2">Clear</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
